* {
  margin: 0;
  padding: 0;
}

/* Media Queries */
@media all and (max-width: 600px) {
  .main-nav {
    flex-wrap: wrap;
  }
  .main-nav > li {
    flex-basis: 50%;
  }
}

@media all and (max-width: 400px) {
  .main-nav > li {
    flex-basis: 100%;
  }
}

/* Nav Bar */
.main-nav {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  background-color: #3E3E3B;
  color: #EBECED;
  margin: auto;
  padding: 1%;
  text-align: center;
}

.main-nav > li {
  flex: 1;
  margin: auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav a {
  text-decoration: none;
  display: block;
  padding: 1%;
}

nav a:hover {
  color: #EBECED;
  background-color: #A2AAB0;
}

nav a:link, nav a:visited, nav a:active {
  color: #EBECED;
  text-decoration: none;
}

/* Home */
.home {
  /* display: flex;
  flex-wrap: wrap; */
  background-color: #3E3E3B;
  padding: 10%;
  background-image: url(images/triangle.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: 30%;
}

.home h2 {
  color: #A2AAB0;
}

.home h1 {
  color: #EBECED
}

/* Who is Rhys? */
.whoisrhys {
  /* display: flex;
  flex-wrap: wrap; */
  background-color: #4C586F;
  padding: 10%;
}

.whoisrhys h1 {
  color: #A2AAB0;
}

.about-content {
  color: #EBECED;
}

.whoisrhys li {
  color:#EBECED;
}

/* Skills & Projects */
.skillsprojects {
  /* display: flex;
  flex-wrap: wrap; */
  background-color: #CBC5C1;
  padding: 10%;
}

.skillsprojects h1 {
  color: #3E3E3B;
}

.skillsprojects li {
  color: #4C586F;
}

.quiz-app {
  height: auto;
  max-width: 282.375px;
}

/* Get in Touch! */
.getintouch {
  /* display: flex;
  flex-wrap: wrap; */
  background-color: #EBECED;
  padding: 10%;
}

.getintouch h1 {
  color: #3E3E3B;
}

/* Footer */

footer {
  background-color: #3E3E3B;
  color: #EBECED;
  text-align: center;
}