* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 100%;
}

/* Nav Bar */

@media all and (max-width: 600px) {
  .main-nav {
    flex-wrap: wrap;
  }
  .main-nav > li {
    flex-basis: 50%;
    padding: 1%;
  }
}

@media all and (max-width: 425px) {
  .main-nav > li {
    flex-basis: 100%;
    padding: 2%;
  }
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  position: fixed;
  width: 100%;
  background-color: #3E3E3B;
  margin: auto;
  padding: 1%;
}

.main-nav > li {
  flex: 1;
  margin: auto;
}

.nav-logo {
  height: 32px;
  width: 32px;
}

nav ul { 
  list-style-type: none;
  padding: 0%;
}

nav a {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  color: #EBECED;
  text-decoration: none;
}

nav li a:hover {
  color: #A2AAB0;
}

nav a:link, nav a:visited, nav a:active {
  color: #EBECED;
  text-decoration: none;
}

/* Home */
.home {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #3E3E3B;
  padding: 15% 10%;
  background-image: url(images/triangle.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 150%;
  font-family: 'Open Sans', sans-serif;
}

.my-logo {
  height: 256px;
  width: 256px;
}

.home h2 {
  color: #A2AAB0;
  font-size: 450%;
}

.home h1 {
  color: #EBECED;
  font-size: 450%;
}

@media screen and (max-width: 600px) {

  .home h2 {
    font-size: 250%;
    padding-top: 25%;
  }

  .home h1 {
    font-size: 250%;
  }
}

/* Who is Rhys? */
.whoisrhys {
  background-color: #4C586F;
  padding: 1%;
  padding-bottom: 7%;
}

.my-face {
  height: 535px;
  width: 535px;
  padding: 5%;
}

.whoisrhys h1 {
  color: #A2AAB0;
  font-family: 'Open Sans', sans-serif;
  font-size: 350%;
  text-align: center;
  padding: 5%;
}

@media screen and (max-width: 600px) {
  .whoisrhys {
    padding: 13%;
  }
}

@media screen and (max-width: 600px) {
  .whoisrhys h1 {
    font-size: 200%;
  }
}

@media screen and (max-width: 600px) {
  .my-face {
    height: 280px;
    width: 280px;
  }
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #EBECED;
  font-size: 125%;
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-wrap: wrap;
  }
}

.edu .work-hist {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-main {
  color: #CBC5C1;
  font-size: 175%;
  font-weight: bolder;
  list-style: none;
}

.list-content {
  color:#EBECED;
  font-size: 125%;
  list-style: none;
}

/* Skills & Projects */
.skillsprojects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #CBC5C1;
  padding: 5%;
}

.skillsprojects h1 {
  color: #3E3E3B;
  font-family: 'Open Sans', sans-serif;
  font-size: 350%;
  text-align: center;
}

.skillsprojects li {
  font-size: 125%;
}

.skillsprojects h2 {
  font-size: 200%;
  text-align: center;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 10rem;
  color: #4C586F;
}

.skills i {
  text-align: center;
}

.projects {
  color: #4C586F;
}

.quiz-app {
  height: 275px;
  width: 275px;
}

@media screen and (max-width: 600px){
  .skills {
    font-size: 500%;
  }

  .quiz-app {
    height: 200px;
    width: 200px;
  }
}

/* Get in Touch! */
.getintouch {
  background-color: #EBECED;
  padding: 5% 10% 15%;
}

.getintouch h1 {
  color: #3E3E3B;
  font-family: 'Open Sans', sans-serif;
  font-size: 500%;
  text-align: center;
  padding: 5%;
}

.medium-logo, .github-logo, .linkedin-logo, .twitter-logo {
  height: auto;
  max-width: 128px;
  padding: 15%;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* Footer */

footer {
  background-color: #3E3E3B;
  color: #EBECED;
  text-align: center;
  padding: 1%;
}